@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Nunito+Sans:ital,opsz,wght@1,6..12,500 &família = Paixão + Um & display=swap');
@import url(fontes/PassionOne-Black.ttf);
@import url(fontes/Sriracha-Regular.ttf);
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sem serifa;
    --fonte3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
   
}
html, body { /*Pagina Fundo*/
    min-width: 100vh; 
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{ /* Titulo*/
    background-color: black;
    color: white;
    text-align: center;
}
  header > h1 { /*Caixa do titulo*/
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
  }
  header > p { /*Nome do autor*/
    padding-bottom: 50px;
  }
  header a, footer a { /* Link dentro do cabeçario*/
    color: white;
    text-decoration: none;
    font-weight: bolder; /*Negrito*/
  }
  header a:hover, footer a:hover { /* Por Milton Duarte */
    text-decoration: underline; /*Sublinhado*/
  }
  section.normal { /* Paragrafo Normal */
    background-color: white;
    color: black;
  }
  section{ /* Configurações das Caixas*/
    font-size: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
  }
  section > p {
    padding-bottom: 2em;
  }
  section.imagem { /* Paragrafo para imagem*/
    background-color: rgb(75, 69, 69);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(63, 63, 63);
    background-size: cover;
    background-attachment: fixed;
  }
  section.imagem > p { /* Caixa dentro da imagem para diferenciar
     as letras da imagem */
    background-color: rgb(0, 0, 0, 0.253);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    text-shadow: 1px 1px 0px black;
  }
  section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
  }
  section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
  }
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}